@model Dish

<div class="container w-75 mx-auto">
    <h2 class=text-center>Edit Dish</h2>

    <form class="shadow p-3 rounded" 
    asp-controller="Home" 
    asp-action="EditDish" 
    asp-route-id="@Model.DishId" 
    method="POST"
    >

        <div class="mb-3">
            <label asp-for="Chef"></label>
            <span class="text-danger" asp-validation-for="Chef"></span>
            <input asp-for="Chef" class="form-control" value=@Model.Chef>
        </div>

        <div class="mb-3">
            <label asp-for="Name"></label>
            <span class="text-danger font-weight-bold" asp-validation-for="Name"></span>
            <input asp-for="Name" class="form-control" value=@Model.Name>
        </div>

        <div class="mb-3">
            <label asp-for="Calories"></label>
            <span class="text-danger" asp-validation-for="Calories"></span>
            <input asp-for="Calories" class="form-control" value=@Model.Calories>
        </div>

        <div class="mb-3">
            <label asp-for="Tastiness"></label>
            <span class="text-danger" asp-validation-for="Tastiness"></span>
            <select asp-for="Tastiness" class="form-control"  value=@Model.Tastiness>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>

        <div class="mb-3">
            <label asp-for="Description"></label>
            <span class="text-danger" asp-validation-for="Description"></span>
            <input asp-for="Description" class="form-control" value=@Model.Description>
        </div>

        <input type="submit" value="Add Dish">
    </form>

</div>

